mkdocs
mkdocs-material
Pygments
pymdown-extensions
markdown
mkdocs-redirects
mkdocs-literate-nav
mkdocs-git-revision-date-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-table-reader-plugin
mkdocs-techdocs-core
mkdocs_monorepo_plugin
mkdocs-render-swagger-plugin
neoteroi-mkdocs
requests
markdown
mkdocs-kroki-plugin
mkdocs_puml